streamlit==1.25.0
requests==2.26.0
requests-toolbelt==0.9.1
beautifulsoup4==4.12.2
st-pages==0.4.5
streamlit-extras==0.3.2
pydantic==2.3.0
langchain-openai==0.0.3
langchain==0.1.1
faiss-cpu==1.7.4
tiktoken==0.5.2
PyPDF2==3.0.1
openai==1.8.0
youtube-transcript-api==0.6.2
pytube==15.0.0
pyperclip==1.8.2
clipboard==0.0.4